NUM_WORKERS_PER_QUEUE=8
PORT=
HOST=
SUPABASE_ANON_TOKEN=
SUPABASE_URL=
SUPABASE_SERVICE_TOKEN=
REDIS_URL=
REDIS_RATE_LIMIT_URL=
SCRAPING_BEE_API_KEY=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
BULL_AUTH_KEY=
LOGTAIL_KEY=
PLAYWRIGHT_MICROSERVICE_URL=
SEARCHAPI_API_KEY=

NUQ_BACKEND=
AUTUMN_SECRET_KEY=
SELF_HOSTED_WEBHOOK_URL=
OPENAI_BASE_URL=
MODEL_NAME=
TEST_API_KEY=
LOGGING_LEVEL=
SEARXNG_ENDPOINT=
OLLAMA_BASE_URL=
PROXY_SERVER=
SEARXNG_ENGINES=
MODEL_EMBEDDING_NAME=
PROXY_USERNAME=
PROXY_PASSWORD=
SLACK_WEBHOOK_URL=
SEARXNG_CATEGORIES=
ALLOW_LOCAL_WEBHOOKS=
BLOCK_MEDIA=


